<div class="auth-wrapper">
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center text-center">
        <div class="col-md-12">
          <div class="card-body">
            <img width="100" src="assets/images/auth/logo-salarix-dark.svg" alt="logo" class="img-fluid mb-4" />
            <h4 class="mb-3 f-w-400">Iniciar Sesión</h4>
            <form [formGroup]="formLogin" (ngSubmit)="login()">

            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon1"><i class="feather icon-mail"></i></span>
              <input formControlName="email" type="email" class="form-control" placeholder="Correo electrónico" aria-label="Username" aria-describedby="basic-addon1" />
            </div>
            <div class="input-group mb-4">
              <span class="input-group-text" id="basic-addon3"><i class="feather icon-lock"></i></span>
              <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" aria-label="password" aria-describedby="basic-addon3" />
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-block btn-primary mb-4">Iniciar sesión</button>
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
