<!-- Botón para abrir el modal -->
<button class="btn btn-primary" (click)="openModal()">Nueva Nómina</button>

<!-- Modal HTML -->
<div
  class="modal modal-lg fade"
  id="formModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="formModalLabel"
  aria-hidden="true"
  [ngClass]="{ show: modalVisible }"
  [ngStyle]="{ display: modalVisible ? 'block' : 'none' }"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="formModalLabel">{{ esNuevaNomina ? 'Nueva Nómina' : 'Editar Nómina' }}</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="formNomina" (ngSubmit)="grabar()">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="periodName">Nombre del Periodo</label>
                <input formControlName="periodName" type="text" class="form-control" id="periodName" required />
                <div *ngIf="formNomina.get('periodName')?.invalid && formNomina.get('periodName')?.touched">
                  <small *ngIf="formNomina.get('periodName')?.hasError('required')" style="color: red">
                    El nombre del periodo es requerido
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="start">Fecha de Inicio</label>
                <input formControlName="start" type="date" class="form-control" id="start" required />
                <div *ngIf="formNomina.get('start')?.invalid && formNomina.get('start')?.touched">
                  <small *ngIf="formNomina.get('start')?.hasError('required')" style="color: red">La fecha de inicio es requerida</small>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="detail">Descripción</label>
                <input formControlName="detail" type="text" class="form-control" id="detail" required />
                <div *ngIf="formNomina.get('detail')?.invalid && formNomina.get('detail')?.touched">
                  <small *ngIf="formNomina.get('detail')?.hasError('required')" style="color: red">
                    El nombre del periodo es requerido
                  </small>
                </div>
              </div>
              <div class="form-group">
                <label for="finish">Fecha de Fin</label>
                <input formControlName="finish" type="date" class="form-control" id="finish" required />
                <div *ngIf="formNomina.get('finish')?.invalid && formNomina.get('finish')?.touched">
                  <small *ngIf="formNomina.get('finish')?.hasError('required')" style="color: red">La fecha de fin es requerida</small>
                </div>
              </div>
            </div>
            <!-- Modal para listar empleados -->
            <!-- Tabla listar empleados -->
            <div class="form-group">
              <label for="user_id">Empleado</label>
              <div class="input-group">
                <input formControlName="user_id" type="text" class="form-control" id="user_id" required readonly />
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button" (click)="openListarEmpleadosModal()">Seleccionar</button>
                </div>
              </div>
            </div>
            <div
              class="modal fade"
              id="listarEmpleadosModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="listarEmpleadosLabel"
              aria-hidden="true"
              [ngClass]="{ show: listarEmpleadosModalVisible }"
              [ngStyle]="{ display: listarEmpleadosModalVisible ? 'block' : 'none', opacity: listarEmpleadosModalVisible ? '1' : '0' }" >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="listarEmpleadosLabel">Seleccionar Empleado</h5>
                  </div>
                  <div class="modal-body">
                    <input type="text" class="form-control mb-3" [(ngModel)]="busquedaEmpleado" placeholder="Buscar empleado..." />
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Nombre</th>
                          <th>Código</th>
                          <th>Acción</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let empleado of empleadosFiltrados">
                          <td>{{ empleado.firstname + ' ' + empleado.lastname }}</td>
                          <td>{{ empleado.codeEmployee }}</td>
                          <td>
                            <button type="button" class="btn btn-success btn-sm" (click)="seleccionarEmpleado(empleado)">Seleccionar</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="closeListarEmpleadosModal()">Cerrar</button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Totals -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="totalProvision">Total Provision</label>
                  <input formControlName="totalProvision" type="number" class="form-control" id="totalProvision" [disabled]="true" readonly />
                  <!-- <div *ngIf="formNomina.get('totalProvision')?.invalid && formNomina.get('totalProvision')?.touched">
                    <small *ngIf="formNomina.get('totalProvision')?.hasError('required')" style="color: red">El total bruto es requerido</small>
                  </div> -->
                </div>
                <div class="form-group">
                  <label for="totalIncome">Total Ingresos</label>
                  <input formControlName="totalIncome" type="number" class="form-control" id="totalIncome" [disabled]="true" readonly />
                  <!-- <div *ngIf="formNomina.get('totalIncome')?.invalid && formNomina.get('totalIncome')?.touched">
                    <small *ngIf="formNomina.get('totalIncome')?.hasError('required')" style="color: red">
                      El total de ingresos es requerido
                    </small>
                  </div> -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="totalEgress">Total Egresos</label>
                  <input formControlName="totalEgress" type="number" class="form-control" id="totalEgress" [disabled]="true" readonly />
                  <!-- <div *ngIf="formNomina.get('totalEgress')?.invalid && formNomina.get('totalEgress')?.touched">
                    <small *ngIf="formNomina.get('totalEgress')?.hasError('required')" style="color: red">
                      El total de egresos es requerido
                    </small>
                  </div> -->
                </div>
                <div class="form-group">
                  <label for="totalLiquid">Total Líquido</label>
                  <input formControlName="totalLiquid" type="number" class="form-control" id="totalLiquid" [disabled]="true" readonly />
                  <!-- <div *ngIf="formNomina.get('totalLiquid')?.invalid && formNomina.get('totalLiquid')?.touched">
                    <small *ngIf="formNomina.get('totalLiquid')?.hasError('required')" style="color: red">
                      El total líquido es requerido
                    </small>
                  </div> -->
                </div>
              </div>
            </div>

            <!-- Tabla de detalles de nómina -->
            <div class="form-group">
              <button type="button" class="btn btn-primary mb-3 margin-right" (click)="openModalRubro()">Agregar Rubro</button>
              <button type="button" class="btn btn-secondary mb-3 margin-right" (click)="calcularIngresos()">Calcular ingresos</button>
              <button type="button" class="btn btn-secondary mb-3" (click)="calcularRubros()">Calcular Rubros</button>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Tipo</th>
                    <th>Monto</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let detalle of detallesNomina">
                    <td>{{ detalle.name }}</td>
                    <td>{{ detalle.detail }}</td>
                    <td>{{ detalle.type == 0 ? 'Egreso' : 'Ingreso' }}</td>
                    <td>{{ detalle.monto | currency }}</td>
                    <td>
                      <button type="button" class="btn btn-warning mb-3 btn-sm" (click)="openModalRubro(detalle)">
                        <i class="fa fa-pencil-alt"></i>
                        Editar</button>
                      <button type="button" class="btn btn-danger btn-sm" (click)="eliminarRubro(detalle.id)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- Modal para agregar rubro -->
            <div
              class="modal fade"
              id="agregarRubroModal"
              tabindex="-1"
              role="dialog"
              aria-labelledby="agregarRubroLabel"
              aria-hidden="true"
              [ngClass]="{ show: agregarRubroModalVisible }"
              [ngStyle]="{ display: agregarRubroModalVisible ? 'block' : 'none', opacity: agregarRubroModalVisible ? '1' : '0' }"
            >
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="agregarRubroLabel">Agregar Rubro</h5>
                  </div>
                  <div class="modal-body">
                    <form [formGroup]="formDetalleNomina" (ngSubmit)="grabarRubro()">
                      <div class="form-group">
                        <label for="name">Nombre del Rubro</label>
                        <input formControlName="name" type="text" class="form-control" id="name" required />
                      </div>
                      <div class="form-group">
                        <label for="detail">Descripción</label>
                        <input formControlName="detail" type="text" class="form-control" id="detail" required />
                      </div>
                      <div class="form-group">
                        <label for="type">Tipo de Rubro</label>
                        <select formControlName="type" class="form-control" id="type" required>
                          <option value="0">Egreso</option>
                          <option value="1">Ingreso</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <label for="monto">Monto</label>
                        <input formControlName="monto" type="number" class="form-control" id="monto" required />
                      </div>
                      <div class="form-group">
                        <label for="isBonus">¿Es Bono?</label>
                        <select formControlName="isBonus" class="form-control" id="isBonus" required>
                          <option value="0">No</option>
                          <option value="1">Sí</option>
                        </select>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" (click)="closeModalRubro()">Cerrar</button>
                        <button type="submit" class="btn btn-primary" [disabled]="formDetalleNomina.invalid" >{{ esNuevoDetalleNomina ? 'Guardar' : 'Actualizar' }}</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="closeModal()">Cerrar</button>
            <button type="submit" class="btn btn-primary" [disabled]="formNomina.invalid">
              {{ esNuevaNomina ? 'Guardar' : 'Actualizar' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Tabla de Nóminas -->
<div class="col-xl-12 mt-3">
  <app-card cardTitle="Lista de Nóminas" [options]="false" blockClass="table-border-style">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Acciones</th>
            <th>Nombre del Periodo</th>
            <th>Empleado</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Fin</th>
            <th>Total Provisiones</th>
            <th>Total Ingresos</th>
            <th>Total Egresos</th>
            <th>Total Líquido</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let nomina of nominas; let i = index">
            <th scope="row">{{ i + 1 }}</th>
            <td class="text-center">
              <button class="btn btn-warning btn-sm" (click)="openModal(nomina)">
                <i class="fa fa-pencil-alt"></i>
                Editar
              </button>
            </td>
            <td>{{ nomina.periodName }}</td>
            <td>{{ getEmpleadoNombre(nomina.user_id ?? '') }}</td>
            <td>{{ nomina.start }}</td>
            <td>{{ nomina.finish }}</td>
            <td>{{ nomina.totalProvision }}</td>
            <td>{{ nomina.totalIncome }}</td>
            <td>{{ nomina.totalEgress }}</td>
            <td>{{ nomina.totalLiquid }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </app-card>
</div>
